# temp output files
outpy.avi

# data file but should not be included into git repo
# this file should be download from:
# http://dlib.net/face_landmark_detection.py.html
shape_predictor_68_face_landmarks.dat


img_encode.txt
capvid.avi
