beautifulsoup4
clipboard
colorama
cryptography
fastapi
filetype
hashids
hexdump
imageio
keyring
loguru
lxml
matplotlib
numpy
numpy-financial
openpyxl
pandas
pillow
platformdirs
pycryptodome
pydantic
PyYAML
requests
rich
ruff
scikit-image
scipy
seaborn
sympy
toml
typer
typing-extensions
XlsxWriter
